body{
    margin: 0;
    text-align: center;
   
}

h1{
    margin: 20px auto;
}

hr{
    border-style: none;
    border-top-style:dotted;
    border-width: 7px;
    width: 3%;
    color: #747a77;
    margin:50px auto;
}

.bio{
    width: 30%;
    margin: auto;
}


a:hover{
    color: springgreen;
    
}


a{
    color: #11999E;
    margin: 30px 20px 40px;
    text-decoration: none;
}

.bottom-p{
   margin: 10px auto;
}

.my-image{
    width: 200px;
    height: 200px;
}



.skill-1{
    width: 15%;
    float: left;
    margin-right: 30px;
}

.skill-2{
    height: 100px;
    float: left;
    padding-right: 30px;
}



.top-container{
    position: relative;
    background-color:#99bbad;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    
}

.btn{
    font-family: sans-serif;

}

.middle-container{
    font-family: 'Montserrat', sans-serif;
    background-color: #99bbad;
    padding-bottom: 30px;
}

.bottom-container{
    font-family: sans-serif;
    background-color: #565f5b;
    padding-top: 40px;
    padding-bottom: 20px;
    
}
 
.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

p{
    padding-bottom: 10px;
    font-weight: normal;
    line-height: 2;
}


.bottom-cloud{
    position: absolute;
    left: 300px; 
    bottom: 360px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
    
}




.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 9px 14px 9px 14px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cfcbc;
    background-image: -webkit-linear-gradient(top, #3cfcbc, #3cfcbc);
    background-image: -moz-linear-gradient(top, #3cfcbc, #3cfcbc);
    background-image: -ms-linear-gradient(top, #3cfcbc, #3cfcbc);
    background-image: -o-linear-gradient(top, #3cfcbc, #3cfcbc);
    background-image: linear-gradient(to bottom, #3cfcbc, #3cfcbc);
    text-decoration: none;
    color: #99bbad;
  }