<%- include partials/header %> 
<h1>Compose</h1>
<form action="/" method="post">
    <label for="">Title</label>
    <input class="form-control" type="text" name="L1" >
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="L2"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include partials/footer %> 